*{

    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
    box-sizing: border-box;
   
   }
   body {
       background-image: url("images/cloud.jpg");
       background-size: cover;
   
   }
   .card{
    width: 80% ;
    max-width: 470px;
    background: linear-gradient(135deg, #00000098, #2a1a96a6, #4e58e081);
    color: #fff;
    margin: 100px 350px;
    border-radius: 20px;
    padding: 40px 35px ;
    text-align: center;
    height: 790px;  
    margin-top: 100px;
    margin-left: 700px;
    position: center;
}
.input-box {
    width: 100%;
    background:#2a1a96a6;
    color:  #4e58e081;
    font-weight: 500;
    border: none;
    font-size: 1.7rem;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
  }
  
  .weather-body {
    color: #fff;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: #eff1f3;
    display: none;
    background: linear-gradient(
      to top,
      #100970a4,
      #0719699a
    );
    margin-bottom: 1000px;
    margin-top: -620px;
  }